@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
    max-width: 430px;
    overflow-x: hidden; 
    box-sizing: border-box;
}

main {
    max-width: 100%;
    overflow-x: hidden; 
    padding: 0;
}

.header, .footer {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.main {
    flex: 1;
    overflow-y: scroll;
}

/* Header */
.header {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-img {
    height: 30px;
    width: 30px;
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px 0; 
}

/* Hero */
.hero-container {
    position: relative;
    text-align: center;
}

.hero {
    background-color: #00a7e1;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.hero-image {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 80%; 
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}

.parrafo{
    width: 80%; 
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 0 10%;
}

/*Modal*/
.open-modal-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.svg-button {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    padding: 20px 20px 30px 80px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }

/* Sección Welcome */
.welcome {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

.gray-box {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    border-radius: 40px 0px 40px 0px;
    max-width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #003366;
}

.gray-box p {
    margin: 0;
    line-height: 1.6;
}

.gray-box strong {
    font-weight: bold;
}


.first{
    font-size: 0.7em;
}

/* Sección Premios */
.premios {
    background-color: #f4f4f4;
    border-radius: 40px 0 40px 0;
    padding: 30px;
}

.boton-premio {
    border: 0px;
    background: none;
    margin-top: 10px;
    width: 150px;
}

/* Sección Video */
.video-section {
    margin-top: 20px;
}

/* Filas y disposición */
.row {
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

/* Carrusel de Videos */
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    overflow: hidden;
    margin: 0 auto; /* Centra el carrusel en la página */
    padding: 0; /* Elimina cualquier padding adicional */
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0; /* Elimina cualquier padding adicional */
}

.carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0; /* Asegura que no haya padding adicional */
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
}

.carousel-prev {
    left: 10px; /* Alinea el botón a la izquierda, encima de la imagen */
}

.carousel-next {
    right: 10px; /* Alinea el botón a la derecha, encima de la imagen */
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carrusel de Blogs */
.carousel-blog {
    position: relative;
    width: 100%;
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    overflow: hidden;
    margin: 0 auto; /* Centra el carrusel en la página */
    padding: 0; /* Elimina cualquier padding adicional */
}

.carousel-blog-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    padding: 0; /* Elimina cualquier padding adicional */
}

.carousel-blog-slide {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0; /* Asegura que no haya padding adicional */
}

.carousel-blog-slide img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
}

.carousel-blog-prev, .carousel-blog-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 20px;
}

.carousel-blog-prev {
    left: 10px; /* Alinea el botón a la izquierda, encima de la imagen */
}

.carousel-blog-next {
    right: 10px; /* Alinea el botón a la derecha, encima de la imagen */
}

.carousel-blog-prev:hover, .carousel-blog-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */
.footer {
    text-align: center;
}

.footer-top {
    background: #003366;
    color: #fff;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.footer-logo {
    height: 50px;
    margin-bottom: 10px;
}

.footer-search input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.footer-download {
    text-align: center;
}

.footer-download h3 {
    margin: 10px 0;
}

.download-icons img {
    height: 40px;
    margin: 0 5px;
}

.footer-middle {
    background: #fff;
    color: #333;
    padding: 20px 10px;
}

.footer-bottom {
    background: #fff;
    color: #333;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info p {
    margin: 5px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icons img {
    height: 30px;
    margin: 0 10px;
}

.footer-text {
    background: #fff;
    color: #333;
    padding: 10px;
    font-size: 0.8em;
}

/* Media Queries */
@media only screen and (max-width: 430px) and (max-height: 932px) {
    .carousel-container, .carousel-blog-container {
        max-width: 100%;
        height: auto;
    }

    .carousel-slide img, .carousel-blog-slide img {
        width: 100%;
        height: auto;
    }
}
