/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-img {
    height: 30px;
    width: 30px;
}

.main section{
    margin: 20px;
}

.main {
    flex: 1;
    overflow-y: scroll;
}

.hero {
    background-color: #00a7e1;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.hero-image {
    width: 100%;
    height: auto;
}

.welcome {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

.premios {
    background-color: #f4f4f4;
    border-radius: 40px 0 40px 0;
    padding: 30px;
}

.video-section {
    margin-top: 20px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-text {
    margin: 0;
}

.row{
    display: flex;
    flex-direction: row;
}

.between {
    justify-content: space-between;
}

.boton-premio{
    border: 0px;
    background: none;
    margin-top: 10px;
    width: 150px;
}